*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
}

section#about{
    background-color: #353535;
    width: 100%;
    height: 100vh;

    #title-about{
        font-family: Nunito Sans;
        color: #fff;
        font-size: 3.5rem;
    }

    #name-about{
        font-family: Poppins;
        color: #00FFF0;
        font-size: 7.5rem;
    }

    .text1-about{
        font-family: Nunito Sans;
        color: #fff;
        font-size: 3.2rem;
        width: 60rem;
        font-weight: 600;

        #bold-about{
            font-weight: bold;
        }
    }

    .text2-about{
        font-family: Nunito Sans;
        color: #00FFF0;
        font-size: 3.2rem;
        width: 50rem;
        font-weight: 800;
    }


}